{% extends 'cv/base.html' %}
{% block title %}
	Who am I ?
{% endblock %}
{% load static %}
{% block content %}
	<section class="section" id="blog">
        <div class="container">
            <h2 class="mb-5">Who am I ?</h2>
            <div class="col">
                    <p>Hello! I am Areri Rodney Areri, a Kenyan undergraduate student currently pursuing a Bachelor of Science in Physics with a specialization in Renewable Energy at Maasai Mara University. Born on July 7th, 1998, I am a Christian with excellent health and a keen interest in contributing to the renewable energy industry.</p>
                    <p>My career objective is to secure a challenging position that combines my skills in science physics and web development to contribute to the growth and success of a company in the renewable energy sector. I am passionate about sustainable energy solutions and believe that my technical expertise can bring innovation to the industry.</p>
                    <p>In addition to my academic pursuits, I have undergone professional training in full-stack web development and data analysis. I possess core competencies in media and gender, information education and communication, advanced writing and editing, designing skills with Adobe Photoshop, web development, and energy management.</p>
                    <p>Throughout my academic journey, I have participated in various workshops, conferences, webinars, and bootcamps, showcasing my commitment to continuous learning and development. I have also gained practical experience through industrial attachment at Nyankoba Tea Factory, where I worked in the Electrical and Energy Management Department.</p>
                    <p>As a member of the Maasai Mara University Statistical Association and the Kenya Scouts Association, I actively engage with professional bodies, further enriching my knowledge and skills.</p>
                    <p>My special skills include proficiency in computer applications, software installation, and coding in languages such as C, MATLAB, HTML, CSS, JavaScript, Express JS, and Python Django framework. I am well-versed in various operating systems, including Android, Debian-based Linux Distros, MS Windows, and Mac OS.</p>
                    <p>With excellent communication and presentation skills, I am adept at report writing and have a strong foundation in interpersonal skills, developed through my experiences in diverse learning institutions and professional roles.</p>
                    <p>Outside my academic and professional pursuits, my hobbies include web development and coding, designing with Adobe Photoshop, football, scouting, and researching various computer technologies and renewable energy trends.</p>
                    <p>In summary, I am a self-motivated individual with a strong work ethic, analytical skills, and a passion for contributing to the fields of science physics, renewable energy, and web development. I look forward to bringing my skills and enthusiasm to contribute to the success of forward-thinking organizations in the renewable energy industry.</p>

            </div>
        </div>
    </section>
{% endblock %}