{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Rodney .">
    <meta name="author" content="Rodney Areri">
    <link rel="icon" href="{% static 'cv/imgs/favicon.png' %}">
    <title>{% block title %}
    	Portfolio
    {% endblock %}</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'cv/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + JohnDoe main styles -->
	<link rel="stylesheet" href="{% static 'cv/css/johndoe.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
    <header class="header">
        <div class="container">
            <ul class="social-icons pt-3">
                <li class="social-item"><a class="social-link text-light" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href=""><i class="ti-twitter" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="www.linkedin.com/in/rodney-areri-436bb116b"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href=""><i class="ti-instagram" aria-hidden="true"></i></a></li>
                <li class="social-item"><a class="social-link text-light" href="https://github.com/areri7896"><i class="ti-github" aria-hidden="true"></i></a></li>
            </ul>
            <div class="header-content">
                <h4 class="header-subtitle" >Hello, I am</h4>
                <h1 class="header-title">Rodney Areri</h1>
                <h6 class="header-mono" >Renewable Energy Expert | Web Developer | Physicist</h6>
{#                <button class="btn btn-primary btn-rounded"><i class="ti-printer pr-2"></i>Print Resume</button>#}
            </div>
        </div>
    </header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-white" data-spy="affix" data-offset-top="510">
        <div class="container">
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse mt-sm-20 navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'resume' %}" class="nav-link">Resume</a>
                    </li>
                </ul>
                <ul class="navbar-nav brand">
                    <img src="{% static 'cv/imgs/areri.jpg' %}" alt="" class="brand-img">
                    <li class="brand-txt">
                        <h4 class="brand-title">Areri Rodney Areri</h4>
                        <div class="brand-subtitle">Renewable Energy Expert | Web Developer | Physicist</div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="{% url 'portfolio' %}" class="nav-link">Portfolio</a>
                    </li>
                    <li class="nav-item last-item">
                        <a href="{% url 'contact' %}" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 {% block content %}

 {% endblock %}
 <footer class="footer py-3">
        <div class="container">
            <p class="small mb-0 text-light">
                &copy; <script>document.write(new Date().getFullYear())</script> Created By <a href="#" target="_blank"><span class="text-danger" title="Bootstrap 4 Themes and Dashboards">Rodney Areri</span></a>
            </p>
        </div>
    </footer>

	<!-- core  -->
    <script src="{% static 'cv/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'cv/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
    <script src="{% static 'cv/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Isotope  -->
    <script src="{% static 'cv/vendors/isotope/isotope.pkgd.js' %}"></script>

    <!-- Google mpas -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtme10pzgKSPeJVJrG1O3tjR6lk98o4w8&callback=initMap"></script>

    <!-- JohnDoe js -->
    <script src="{% static 'cv/js/johndoe.js' %}"></script>

</body>
</html>
