

   {% extends 'cv/base.html' %}
   {% block content %}

    <div class="container-fluid">
        <div id="about" class="row about-section">
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Who am I ?</h3>
                <span class="line mb-5"></span>
                <h5 class="mb-3">A Renewable Energy Specialist, A Web Developer, An Energy Management Specialist,  Located at Keroka - Nyamira County, Kenya</h5>
                <h4 class="font-weight-light"> Career Objective </h4>
                <p class="mt-20">To secure a challenging position in the renewable energy industry that utilizes my skills and knowledge in science physics and web development to contribute to the growth and success of the company.
                    <br>
                With a degree in science physics, a specialization in renewable energy, and experience in web development, I am seeking a career that combines my technical skills and passion for sustainable energy solutions. I am confident that my expertise in both fields will enable me to provide innovative and effective solutions for companies in the renewable energy industry. My objective is to work in a dynamic and fast-paced environment that encourages creativity and provides opportunities for professional growth. I am a team player with excellent communication skills and a strong work ethic, and I look forward to contributing to the success of any organization that values innovation, sustainability, and excellence.</p>
                <a href="" class="btn btn-outline-danger"><i class="icon-down-circled2 "></i>Download My CV</a>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">Personal Info</h3>
                <span class="line mb-5"></span>
                <ul class="mt40 info list-unstyled">
                    <li><span>Birthdate</span> : 7th July 1998</li>
                    <li><span>Email</span> : arerirodney@gmail.com <br> areri7896@gmail.com <br>arerirodney@yahoo.com</li>
                    <li><span>Phone</span> : + (254) 797-795-884 <br> + (254) 780-607-640 <br> + (254) 111-439-382</li>
                    <li><a href="https://github.com/areri7896"><span>Git</span>:areri7896 </a></li>
                    <li><span>Address</span> :  Main Road, Keroka - Kisii Road, Expert driving school building</li>
                </ul>
                <ul class="social-icons pt-3">
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-facebook" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-twitter" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="www.linkedin.com/in/rodney-areri-436bb116b"><i class="ti-linkedin" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="#"><i class="ti-instagram" aria-hidden="true"></i></a></li>
                    <li class="social-item"><a class="social-link" href="https://github.com/areri7896"><i class="ti-github" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4 about-card">
                <h3 class="font-weight-light">My Expertise</h3>
                <span class="line mb-5"></span>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-panel icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Renewable Energy</h6>
                        <p class="subtitle"> Renewble energy expert and renewable energy technologies</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-server icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Web Development</h6>
                        <p class="subtitle">Front end web development using HTML, CSS and javascript.  and also Backend development using python django</p>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-danger pt-1"><i class="ti-stats-up icon-lg"></i></div>
                    <div class="col-10 ml-auto mr-3">
                        <h6>Energy Management</h6>
                        <p class="subtitle">Energy Management technologies and practises</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="section bg-dark text-center">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-alarm-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">500+</h1>
                            <p class="text-light mb-1">Personal Hours Worked as a Web Developer</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-layers-alt icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">10+</h1>
                            <p class="text-light mb-1">Software Expertise i.e, MatLab, Ni Multism, IBM spss, Ms Office Package, Some Adobe Packages, etc </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-github icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">20+</h1>
                            <p class="text-light mb-1">Git Repositories and several commits</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="ti-gift icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">20+</h1>
                            <p class="text-light mb-1">Renewable Energy Practises, Energy Management Practises, Pysics Principles, etc </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="service">
        <div class="container">
            <h2 class="mb-5 pb-4"><span class="text-danger">My</span> Services</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mb-5">
                       <div class="card-header has-icon">
                            <i class="ti-vector text-danger" aria-hidden="true"></i>
                        </div>
                        <div class="card-body px-4 py-3">
                            <h5 class="mb-3 card-title text-dark">Ullam</h5>
                            <P class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam commodi provident, dolores reiciendis enim pariatur error optio, tempora ex, nihil nesciunt! In praesentium sunt commodi, unde ipsam ex veritatis laboriosam dolor asperiores suscipit blanditiis, dignissimos quos nesciunt nulla aperiam officia.</P>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </section>

    <section class="section bg-primary py-5">
        <div class="container text-center">
            <h2 class="text-light mb-5 font-weight-normal">I Am Available For FreeLance</h2>
            <a href="{% url 'contact' %}" class="btn bg-dark w-lg text-white" >Hire me</a>
        </div>
    </section>

    {% endblock %}
