{% extends 'cv/base.html' %}
{% block title %}
	Resume
{% endblock %}
{% block content %}
	<!--Resume Section-->
    <section class="section" id="resume">
        <div class="container">
            <h2 class="mb-5"><span class="text-danger">My</span> Resume</h2>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Expertise</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">2022 - Present</h6>
                            <P>Web Developer</P>
                            <P class="subtitle">Learning of web development technologies and trying them to perfect the skills and improve on the designing.</P>
                            <hr>
                            <h6 class="title text-danger">2022 - Present</h6>
                            <P>Front-end Developer</P>
                            <P class="subtitle">Expert driving school, working and enhancing and management of the school website. Data management and organization. </P>
                            <hr>
                            <h6 class="title text-danger">2018 - Present</h6>
                            <P>Renewable Energy Expert</P>
                            <P class="subtitle">Undergraduate Student: Bachelor of Science (Physics) with a Specialization in Renewable Energy, Maasai Mara University (2018 - Present)</P>
                        </div>
                        <div class="card-header">
                            <div class="mt-2">
                                <h4>Work Experience And Employment Background</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">Conducted on date 12/02/2023</h6>
                            <h5>Data-Centric Evolving Power Grid</h5>
                            <P class="subtitle">Participated in a one-day webinar in theEngineering Institute of Technology's (EIT).</P>
                            <hr>
                            <h6 class="title text-danger">Conducted on date 21/09/2023</h6>
                            <h5>Introduction to Power Distribution</h5>
                            <P class="subtitle">Participated in a one-day webinar in the Engineering Institute of Technology's (EIT) </P>
                            <hr>
                            <h6 class="title text-danger">Conducted on date 28/09/2023</h6>
                            <h5>Low Voltage Design: Electrical Design Process </h5>
                            <P class="subtitle">Participated in a one-day webinar in the Engineering Institute of Technology's (EIT) .</P>
                            <hr>
                            <h6 class="title text-danger">Conducted on date 30/03/2023</h6>
                            <h5>Effects of Harmonics on Distribution Transformer Efficiency. </h5>
                            <P class="subtitle">Participated in a one-day webinar in the Engineering Institute of Technology's (EIT) .</P>
                            <hr>
                            <h6 class="title text-danger">conducted on 05th Feb 2023 </h6>
                            <h5>How to Create a Dynamic Navigation Bar using ReactJS </h5>
                            <P class="subtitle">Participated in a one-day virtual workshop on "How to Create a Dynamic Navigation Bar using ReactJS" conducted on 05th Feb 2023 with Skyy Rider Institutions. </P>
                            <hr>
                            <h6 class="title text-danger">conducted on 3rd June 2023</h6>
                            <h5>3D- Scanning technology </h5>
                            <P class="subtitle">Participated in a one-day virtual workshop on " 3D- Scanning technology " conducted on 3rd June 2023 with Skyy Skill Academy.</P>
                            <hr>
                            <h6 class="title text-danger">Conducted on 12th December 2023</h6>
                            <h5>Introduction to SIMULINK with Case Studies</h5>
                            <P class="subtitle">Participated in a 5-day virtual workshop on "Introduction to SIMULINK with Case Studies”. with Skyy Rider Institutions</P>
                            <hr>
                            <h6 class="title text-danger">February 2023</h6>
                            <h5>Tinder Clone using HTML & CSS. </h5>
                            <P class="subtitle">Completed a 7-day bootcamp with DevTown  .</P>
                            <hr>
                            <h6 class="title text-danger">January 2023</h6>
                            <h5>Backend Web Development using JavaScript, Node.js and Express.</h5>
                            <P class="subtitle">Completed a 7-day bootcamp with DevTown.</P>
                            <hr>
                            <h6 class="title text-danger">conducted on 18th Dec 2022</h6>
                            <h5>Building your own Social Media Application</h5>
                            <P class="subtitle">Participated in a one-day virtual workshop on "Building your own Social Media Application" conducted on 18th Dec 2022 with Skyy Rider Institutions </P>
                            <hr>
                            <h6 class="title text-danger">conducted on 11th September 2023 to 15th September 2023</h6>
                            <h5>JavaScript Zero to Hero</h5>
                            <P class="subtitle">Participated in a 5-day virtual workshop on "JavaScript Zero to Hero" conducted on 11th September 2023 to 15th September 2023 with Let’s Upgrade Institutions.</P>
                            <hr>

                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Education</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">2018 - Present</h6>
                            <P>Bachelor of Science Physics.</P>
                            <P class="subtitle">Enrolled to my undergraduate degree at Maasai Mara University to pursue a degree in physics, with a specialization in Renewable Energy, Energy Management and Renewable Energy Technologies. </P>
                            <hr>
                            <h6 class="title text-danger">September 2022 - April 2023</h6>
                            <P>Front end  Web development</P>
                            <P class="subtitle">Secured a scholarship with Power Learn Project and Family Bank to pursue a  Web Development course with PLP Africa. With PLP Africa, i studied Web Technologies like, HTML, CSS, JavaScript, Database Management, Unix systems, Python and Entrepreneurship.</P>
                            <hr>
                            <h6 class="title text-danger">October 2023 - December 2023</h6>
                            <P>Back End Web Development</P>
                            <P class="subtitle">Secured a scholarship with Emobilis Kenya and enrolled to pursue back end web development with Python - Django framework, Bootstrap, HTML, CSS and Databases.</P>
                            <hr>
                            <h6 class="title text-danger">2013 - 2017</h6>
                            <P>High-school Degree</P>
                            <P class="subtitle">I enrolled and completed my Kenya Certificate of Secondary Education Examinations and Attained a B-(minus) Grade form Mesabisabi Secondary School</P>
                            <hr>
                        </div>
                    </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="mt-2">
                                <h4>Software skills</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body">
                            <h6 class="title text-danger">Microsoft Office</h6>
                            <P class="subtitle">
                            <ul>
                            <li>MS Word</li>
                            <li>MS excel</li>
                            <li>MS Powerpoint</li>
                            <li>MS Publisher</li>
                        </ul>
                            </P>
                            <hr>
                            <h6 class="title text-danger">Adobe</h6>
                            <P class="subtitle">
                                <ul>
                            <li>Adobe Acrobat</li>
                            <li>Adobe Photoshop</li>
                            <li>Adobe Illustrator</li>
                        </ul>
                            </P>
                            <hr>
                            <h6 class="title text-danger">Physics Software</h6>
                            <P class="subtitle">
                                <ul>
                            <li>Ni Multism</li>
                            <li>Proteus</li>
                            <li>MatLab</li>
                            <li>PV sol</li>
                        </ul>
                            </P>
                            <hr>
                            <h6 class="title text-danger">Operating Systems</h6>
                            <P class="subtitle">
                                <ul>
                            <li>Microsoft Windows</li>
                            <li>Mac OS</li>
                           <li>Linux (Debian Based) <ul>
                            <li>ubuntu</li>
                            <li>Kali Linux</li>
                            <li>Parrot OS</li>
                            <li>Linux Mint</li>
                            </ul>
                            </li>
                        </ul>
                            </P>
                            <hr>
                            <h6 class="title text-danger">Statistical software</h6>
                            <P class="subtitle">
                                <ul>
                            <li>IBM Spss</li>
                            <li>KoBoCollect</li>
                        </ul>
                            </P>
                            <hr>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Skills and Expertise</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                            <h6>Photo-voltaic and Solar technologies</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Energy Management</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Nuclear Energy and Nuclear technologies</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Hydro and wind technologies.</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Biogas and Biogas technologies.</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Electrical and electronics</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Ac and Dc motors</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                           <h6>HTML5 &amp; CSS3</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>JavaScript</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>PYTHON</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>SQL</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Django - Framework</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>MATLAB</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>C - Procedural Programing</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>NI Multism</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Photoshop & Adobe Illustrator</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>IBM SPSS</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                       <div class="card-header">
                            <div class="pull-left">
                                <h4 class="mt-2">Languages</h4>
                                <span class="line"></span>
                            </div>
                        </div>
                        <div class="card-body pb-2">
                           <h6>English</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Swahili</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h6>Ekegusii</h6>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 95%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}